<div class="recipe-header">
  <img src="" alt="" />
  <div class="recipe-header-title">TITRE</div>
</div>

<div class="recipe-body">
  <div frame-number [title]="title[0]" class="mt-5"></div>
  <div class="recipe-body-description"></div>

  <div class="recipe-body-ingredients">
    <div ingredient-list [ingredients]="mock"></div>
  </div>

  <!-- for each étape -->
  <div class="recipe-body-step">
    <div frame-number [title]="title[1]"></div>
    <div class="recipe-body-content content-container">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nam cumque
      ut maxime. Impedit odio similique maiores! Sed similique quaerat,
      accusantium debitis, recusandae quia mollitia quae voluptatibus commodi
      inventore atque.
    </div>
  </div>
</div>

<!-- information calorie glucide ... -->

<div class="recipe-footer">date</div>
