.recipe {
  &-header {
    position: relative;
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 500px;
      width: auto;
    }

    &-title {
      position: absolute;
      text-align: center;
      margin: auto;
      width: 700px;
      font-size: 3.75rem;
      color: #fcf6b1;
      font-weight: 600;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
    }
  }
  &-body {
    &-content {
      padding: 50px 40px 0 40px;
      .paragraph {
        padding-bottom: 5px;
      }
    }
  }
  &-description {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
