.btn-start {
  font-size: 33px;
  font-weight: bold;
  background-color: #2f3640;
  color: white;
  padding: 25px;
  border-radius: 50px;
}
.btn-start:hover {
  background-color: rgb(36, 221, 159);
}
